body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../share-Edit-location-input_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:449px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:449px;
}

.u1 {
    position:absolute;
    left:2px;
    top:216px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:449px
}

.u2_text {
    position:absolute;
    left:181px;
    top:88px;
    width:36px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:181px;
    top:88px;
    width:36px;
    height:24px
}

.u3_text {
    position:absolute;
    left:24px;
    top:117px;
    width:190px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:24px;
    top:117px;
    width:190px;
    height:120px
}

.u4_original {
    background-image: url('../share-Edit-location-input_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:21px;
    top:213px;
    width:196px;
    height:160px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:160px;
}

.u5 {
    position:absolute;
    left:2px;
    top:72px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:21px;
    top:213px;
    width:196px;
    height:160px
}

.u6_text {
    position:absolute;
    left:171px;
    top:344px;
    width:40px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:171px;
    top:344px;
    width:40px;
    height:24px
}

