body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../profile_view_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:679px;
    height:999px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:679px;
    height:999px;
}

.u1 {
    position:absolute;
    left:2px;
    top:492px;
    width:675px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:1px;
    width:679px;
    height:999px
}

.u2_text {
    position:absolute;
    left:40px;
    top:890px;
    width:90px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:40px;
    top:890px;
    width:90px;
    height:80px
}

.u3_text {
    position:absolute;
    left:168px;
    top:890px;
    width:90px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:168px;
    top:890px;
    width:90px;
    height:80px
}

.u4_text {
    position:absolute;
    left:295px;
    top:890px;
    width:90px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:295px;
    top:890px;
    width:90px;
    height:80px
}

.u5_text {
    position:absolute;
    left:422px;
    top:890px;
    width:90px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:422px;
    top:890px;
    width:90px;
    height:80px
}

.u6_text {
    position:absolute;
    left:550px;
    top:890px;
    width:90px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:550px;
    top:890px;
    width:90px;
    height:80px
}

.u7_text {
    position:absolute;
    left:522px;
    top:60px;
    width:130px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:522px;
    top:60px;
    width:130px;
    height:80px
}

.u8 {
    position:absolute;
    left:20px;
    top:60px;
    width:130px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_text {
    position:absolute;
    left:40px;
    top:440px;
    width:610px;
    height:336px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:40px;
    top:440px;
    width:610px;
    height:336px
}

